/* Boilerplate */
html {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Breakpoints */
/* Colors */
/* Grid */
/* Start CSS */
body {
  margin: 0;
  background-color: #FFF;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif; }

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row; }

.side-drawer {
  display: none;
  background-color: #043755;
  width: 250px;
  height: 100%; }

.side-drawer .logo {
  margin: 24px 32px; }

.side-drawer nav {
  color: #F7F7F7;
  padding-bottom: 40px; }
  .side-drawer nav ul {
    list-style-type: none;
    padding-left: 0; }
    .side-drawer nav ul li {
      line-height: 32px;
      margin-bottom: 16px;
      font-size: 14px; }
      .side-drawer nav ul li.parent {
        background-image: url("../../img/arrow_down.svg");
        background-position: calc(100% - 8px) 8px;
        background-repeat: no-repeat; }
      .side-drawer nav ul li a {
        color: #FFF;
        text-decoration: none; }
      .side-drawer nav ul li .nav-list-wrapper {
        display: flex;
        align-items: center;
        padding: 4px 24px; }
      .side-drawer nav ul li i {
        margin-right: 12px;
        color: #B7BCC0; }
      .side-drawer nav ul li ul {
        display: none;
        padding-top: 16px;
        padding-left: 60px; }
      .side-drawer nav ul li.active.parent {
        border-left: 5px #DD6D49 solid; }
        .side-drawer nav ul li.active.parent ul {
          padding-left: 55px;
          display: block; }
          .side-drawer nav ul li.active.parent ul li {
            line-height: 24px;
            margin-bottom: 22px;
            font-size: 12px; }
        .side-drawer nav ul li.active.parent .nav-list-wrapper {
          padding-left: 19px; }
      .side-drawer nav ul li.active .nav-list-wrapper {
        background-color: rgba(255, 255, 255, 0.12); }

.content {
  background-color: #F6F6F6;
  height: 100%;
  flex: 1; }
  .content .app-bar {
    background-color: #FFF;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .content .app-bar .hamburger {
      border: 0;
      background-color: #FFF;
      margin: 0 16px; }
      .content .app-bar .hamburger .hamburger-line {
        display: block;
        background-color: #38404A;
        width: 24px;
        height: 3px;
        margin-bottom: 3px; }
      .content .app-bar .hamburger .hamburger-line-short {
        display: block;
        background-color: #38404A;
        width: 16px;
        height: 3px;
        float: right; }
    .content .app-bar .app-title {
      flex: 1; }
      .content .app-bar .app-title h2 {
        font-weight: 300; }

@media (min-width: 768px) {
  .side-drawer {
    display: none; } }

@media (min-width: 992px) {
  .side-drawer {
    display: block; } }

@media (min-width: 1200px) {
  .side-drawer {
    display: block; } }
